p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}


body {
  min-height: 100vh;
    background-size: cover;
    text-align: center;
    align-items: center;
    background-position: center;
    background-image: url(images/background-portfolio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.header-image {
    width: 690px;
    margin-top: -95px;
    position: relative;
    margin-right: 50px;
}

.title,
.intro{
    font-size: 30px;
    color: rgb(184, 229, 247);
    position: absolute;
    text-align: center;
    align-items:center;
}

.intro2 {
    font-size: 30px;
    color: rgb(184, 229, 247);
    text-align: center;
    align-items:center;
    margin-top: -50px;
}

.title {
    bottom: 150px;
    right: 155px;
    padding-right: 6px; 
    padding-left: 6px;
    text-align: center;
    align-items:center;
}

.intro {
    bottom: 180px;
    right: 250px;
    padding-right: 6px; 
    padding-left: 6px;
    text-align: center;
    align-items:center;
}



.div1 {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.box-text1,
.box-text2,
.box-text3,
.box-text4,
.box-text5,
.box-text6{
    font-family: roboto, arial;
    font-size: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    color: rgb(127, 193, 219);
    position: absolute;
}

.box-text1 {
    bottom: 70px;
    right: 5px;
    padding-right: 6px; 
    padding-left: 6px;
}

.box-text2 {
    bottom: 40px; 
    right: 38px;
    line-height: 1.1;
    width: 243px;
    padding: 1px;
}

.box-text3 {
    bottom: 70px;
    right: 5px;
}

.box-text4 {
    bottom: 70px;    
    right: 60px;
    width: 200px;
}

.box-text5 {
    bottom: 85px;
    right: 100px;
}

.box-text2,
.box-text6
 {
    text-align: center;
}

.box-text6 {
    bottom: 68px; 
    right: 30px;
    line-height: 1.2;
    width: 250px;
    }

.box-background1,
.box-background2
 {
    width: 300px;
    height: 200px;
    object-position: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 60px;
    border-style:double;
    border-color: rgb(37, 181, 206);
}

@media (max-width: 768px) {
    div {
        text-align: center !important;
    }
    
    .div1 {
        display: inline-block !important;
        margin: 10px !important;
    }
}